php_flag short_open_tag on
php_flag display_errors on
RewriteEngine On

# Pass system and data urls through index.php, so it can do access control
RewriteRule ^(system/.*)$ index.php [L]
RewriteRule ^(data/.*)$ index.php [L]

# Let index.php handle that do not point to a valid file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]
