@import url("//unpkg.com/normalize.css@8.0.0/normalize.css");
@import url("//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css");
@import "festival.css";

body {
	font-family:sans-serif;
	color:#222;
	line-height: 1.25;
}

label {
	white-space:nowrap;
}

img {
	border:0px;
}
.click {
	cursor:pointer;
}
.option {
	color:#888;
}
table.section {
	border-top:1px solid #888;
  border-bottom:1px solid #888;
	background-color:#eee;
}

table.section td, table.section th{
  padding:5px;
}


.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
	color:white;
  background-color:#884400;
  border:none;
  margin-right:10px;
  text-transform:none;
  font-size:1em;
  font-weight:normal;
  letter-spacing:0;
}
'
.right {
	float:right;
}
.divider {
	clear:left; 
  height:10px; 
  margin-top:10px; 
  margin-bottom:10px; 
  background-color:#d2691e;
}

#navContainer {
	padding: 14px 0 0 0;
}
#menu {
	margin: 0 0 5px 0;
	float:left;
}
#trail {
	clear:left;
	float:left;
	text-align:left;
}
#login {
	float: right;
	text-align:right;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	display: none;
}
#hyphaCommands {
	float: right;
	text-align:right;
	padding: 0 0 0 10px;
	margin: 0 0 5px 0;
}
#pageCommands {
  display:inline-block;
  font-size:80%;
}

#pageCommands .button, #pageCommands input[type='button']{
  padding-right:10px;
  padding-left:10px;
}

#log {
	margin: 0 0 0 0;
	float: left;
}
#log div {
	clear:left;
	padding: 5px 9px 5px 9px;
}
#page {
	clear: both;
}
.edit-button {
	margin: 0 0 0 10px;
}
#main {
	min-height: 1px;
	clear: both;
}

#langList {
	clear: right;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
  display:inline-block;
  border-left: 1px solid #222;
	font-size:8pt;
}

#langList .disabled {
	color: #8f8f8f;
}
#langList .selected {
	font-weight:bold;
}

#bottomContainer {
  width:100%;
}

#versionList  {
	clear: both;
	float: left;
	margin: 30px 0 0 0;
  padding-top:5px;
  border-top:1px dotted grey;
}

#footer  {
	clear: both;
	float: right;
	margin: 0.5em 0 0 0;
	text-align: right;
}

#popup {
	position:absolute;
	padding:5px;
}

.editor {
	height:600px;
	padding-top:5px;
	clear:left;
}

.clear {
	clear: both;
}


#header {
	background-color:#f80;
	padding:10px;
	text-align:center;
	font-weight:bold;
	font-size:24pt;
	color:#fff;
}

#header p {
	margin: 0 0 0 0;
}

#menu a, #login a, #hyphaCommands a {
	color: #bf6f0f;
	text-decoration: none;
	font-weight: normal;
}

#menu a{
  padding:10px 30px;
  background:#884400;
  color:white;
  border-radius:.4rem;
}

#menu a:hover{
  background:grey;
}

#menu a.currentpagelink, #hyphaCommands a.currentpagelink {
	color: #000;
}
#menu p {
	margin: 0;
}

#trail {
	font-size:8pt;
}

#login {
	font-size:8pt;
}

#hyphaCommands {
	font-size:8pt;
}

#loggedIn {
	font-style:italic;
	color:#999;
}

#log {
	font-size:10pt;
	letter-spacing:0.1em;
	}
	#log .error {
		color:#b00;
	}

	#log .success {
		color:#0b0;
	}

h1, h2, h3, h4{
  color:#bf6f0f;
  letter-spacing:0;
}

h1{
  font-size:2em;
}
  
h2 {
	font-size: 20px;
	margin: 0;
	//font-weight:bold;
}

h3 {
	font-size:18px;
	//font-weight:bold;
	margin: 5px 0;
}

h4 {
	//font-weight:bold;
	margin: 12px 0 0 0;
	font-size: 16px;
}
h5 {
	//font-size: 11px;
	margin: 12px 0 0 0;
}
h6 {
	margin: 12px 0 0 0;
}

td,th {
	letter-spacing: 0em; text-align:justify;
	vertical-align:top;
	padding:5px;
	color:#000;
}
p {
	margin: 0.5em 0 1em 0;
}
a {
	font-weight:bold;
	text-decoration:none;
	color:#bf6f0f;
}
a.otherlanguagelink {
	font-weight:bold;
	text-decoration:none;
	color:#bf6f0f;
	border-bottom: 1px dotted;
}
a.nopagelink {
	text-decoration: none;
	border-bottom: 1px dotted;
}
a:hover {
	text-decoration:underline;
}

iframe {
	border: #c0c0c0 solid 1px;
}
iframe.registratie, iframe.gastenboek {
	border: none;
}

code
{
	color: #825500;
}

#main img {
	margin: 1.1em 0 0.7em;
}

#versionList {
	font-size:8pt;
}

#main .group {
		margin: 10px 0 10px 0;
		clear: both;
	}
	#main img.left {
		float:left;
		margin: 0 13px 10px 0;
	}
	#main img.right {
		float:right;
		margin: 0 0 10px 13px;
	}
	#main img.center {
		float:none;
		margin: 0 0 10px 0;
	}

#main h2, #main h3, #main h4, #main h5, #main h6 {
	clear: both;
}

#main .group h2, #main .group h3, #main .group h4, #main .group h5, #main .group h6 {
	clear: none;
}

.writely-comment {
    border: 1px dashed #C0C0C0;
    font-size: 9pt;
    line-height: 1.4;
    padding: 1px;
    background-color: #D7FFD7;
}

.language {
	display:block;
}

#footer {
	font-size:8pt;
	clear: both;
	float: right;
	margin: 15px 0 0 0;
	text-align: right;
	border-top: 3px solid #840;
	padding: 5px 0 0 0;
	width: 100%;
}

@media (min-width: 960px) {
}

@media (max-width: 959px) {
	#commandForm {
		width: 100%;
	}
	#navContainer {
		width:100%;
	}
	#page {
		width: 100%;
	}
	#pagename {
		width:auto;
	}
	#main {
		width: 100%;
	}
  
  h1{
    font-size:2em;
  }
	#header {
		width: 100%;
		padding: 5px 0;
    font-size:16px;
	}
	#footer {
		width: 100%;
	}
	#bottomContainer {
		width: 100%;
	}
	.editor {
		width:100%;
	}
	img {
		max-width:100%;
	}
	.prefix {
		display:none;
	}
	.language {
		display:inline-block;
		margin-right:5px;
	}
}

.wym_iframe.wym_section iframe {
	resize: vertical;
}