@import url("https://unpkg.com/normalize.css@8.0.0/normalize.css");

/* MinCSS */
body,textarea,input,select{background:0;border-radius:0;font:16px sans-serif;margin:0}

.addon,.btn-sm,.nav,textarea,input,select{outline:0;font-size:14px}
.smooth{transition:all .2s}
.btn,.nav a{text-decoration:none}
.container{margin:0 20px;width:auto}
@media(min-width:1310px){.container{margin:auto;width:1270px}
}
.btn,h2{font-size:2em}
h1{font-size:3em}
.btn{background:#999;border-radius:6px;border:0;color:#fff;cursor:pointer;display:inline-block;margin:2px 0;padding:12px 30px 14px}
.btn:hover{background:#888}
.btn:active,.btn:focus{background:#777}
.btn-a{background:#0ae}
.btn-a:hover{background:#09d}
.btn-a:active,.btn-a:focus{background:#08b}
.btn-b{background:#3c5}
.btn-b:hover{background:#2b4}
.btn-b:active,.btn-b:focus{background:#2a4}
.btn-c{background:#d33}
.btn-c:hover{background:#c22}
.btn-c:active,.btn-c:focus{background:#b22}
.btn-sm{border-radius:4px;padding:10px 14px 11px}
label>*{display:inline}
form>*{display:block;margin-bottom:10px}
textarea,input,select{border:1px solid #ccc;padding:8px}
textarea:focus,input:focus,select:focus{border-color:#5ab}
textarea,input[type=text]{-webkit-appearance:none;width:13em;outline:0}
.addon{box-shadow:0 0 0 1px #ccc;padding:8px 12px}
.nav,.nav .current,.nav a:hover{background:#000;color:#fff}
.nav{height:24px;padding:11px 0 15px}
.nav a{color:#aaa;padding-right:1em;position:relative;top:-1px}
.nav .pagename{font-size:22px;top:1px}
.btn.btn-close{background:#000;float:right;font-size:25px;margin:-54px 7px;display:none}
@media(max-width:500px){.btn.btn-close{display:block}
.nav{overflow:hidden}
.pagename{margin-top:-11px}
.nav:active,.nav:focus{height:auto}
.nav div:before{background:#000;border-bottom:10px double;border-top:3px solid;content:'';float:right;height:4px;position:relative;right:3px;top:14px;width:20px}
.nav a{display:block;padding:.5em 0;width:50%}
}
.table th,.table td{padding:.5em;text-align:left}
.table tbody>:nth-child(2n-1){background:#ddd}
.row{margin:1% 0;overflow:auto}
.col{float:left}
.table,.c12{width:100%}
.c11{width:91.66%}
.c10{width:83.33%}
.c9{width:75%}
.c8{width:66.66%}
.c7{width:58.33%}
.c6{width:50%}
.c5{width:41.66%}
.c4{width:33.33%}
.c3{width:25%}
.c2{width:16.66%}
.c1{width:8.33%}
@media(max-width:870px){.row .col{width:100%}
}
.msg{background:#def;border-left:5px solid #59d;padding:1.5em}

/* End MinCSS */


h1 {
  //font-size: 1.5em;
}

html body {
	//font-family:sans-serif;
	//font-size: 11pt;
	//letter-spacing: 0.07em;
	//text-align:justify;
	color:#222;
	line-height: 1.25;
}

label {
	white-space:nowrap;
}

img {
	border:0px;
}
.click {
	cursor:pointer;
}
.option {
	color:#888;
}
.section {
	border:1px solid #888;
	background-color:#eee;
}
.button {
	color:#bf6f0f;
}
.right {
	float:right;
}
.divider {
	clear:left; height:10px; margin-top:10px; margin-bottom:10px; background-color:#d2691e;
}

#commandForm {
	//width: 1000px;
}
#navContainer {
	//width:800px;
	padding: 14px 0 0 0;
}
#menu {
	margin: 0 0 5px 0;
	float:left;
}
#trail {
	clear:left;
	float:left;
	text-align:left;
}
#login {
	float: right;
	text-align:right;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	display: none;
}
#hyphaCommands {
	float: right;
	text-align:right;
	padding: 0 0 0 10px;
	margin: 0 0 5px 0;
}
#pageCommands {
	text-align:right;
	margin: 13px 100px 0 0;
	padding: 0 0 0 0px;
}
#log {
	margin: 0 0 0 0;
	float: left;
}
#log div {
	clear:left;
	padding: 5px 9px 5px 9px;
}
#page {
	//width: 900px;
	//clear: left;
	//float: left;
  display:block;
  width:100%;
}
.edit-button {
	margin: 0 0 0 10px;
}
#main {
	//width: 800px;
	min-height: 1px;
	float: left;
	clear: both;
}

#pagename {
	//clear:left;
	//float:left;
	//width:800px;
}

#langList {
	float: left;
	clear: right;
	margin: 0 0 0 10px;
	padding: 0 0 0 10px;
}

#bottomContainer {
	//float: left;
	//clear: both;
	//width: 800px;
  width:100%;
}

#versionList  {
	clear: both;
	float: right;
	margin: 0 0 0 0;
}

#footer  {
	clear: both;
	float: right;
	margin: 0.5em 0 0 0;
	text-align: right;
}

#popup {
	position:absolute;
	padding:5px;
}

.editor {
	//width:800px;
	height:600px;
	padding-top:5px;
	clear:left;
}

.clear {
	clear: both;
}


#header {
	background-color:#fff;
	padding:10px;
	text-align:center;
	font-weight:bold;
	letter-spacing:0.2em;
	font-size:24pt;
	//width: 680px;
	color:#f80;
}

#header p {
	margin: 0 0 0 0;
}

#menu a, #login a, #hyphaCommands a {
	color: #bf6f0f;
	text-decoration: none;
	font-weight: bold;
}
#menu a.currentpagelink, #hyphaCommands a.currentpagelink {
	color: #000;
}
#menu p {
	margin: 0;
}

#trail {
	font-size:8pt;
}

#login {
	font-size:8pt;
}

#hyphaCommands {
	font-size:8pt;
}

#loggedIn {
	font-style:italic;
	color:#999;
}

#log {
	font-size:10pt;
	letter-spacing:0.1em;
	}
	#log .error {
		color:#b00;
	}

	#log .success {
		color:#0b0;
	}


h1 {

}
h2 {
	font-size: 24pt;
	margin: 0 0 0 0;
	font-weight:bold;
	color:#bf6f0f;
}

h3 {
	font-size:15pt;
	font-weight:bold;
	margin: 0.2em 0 0 0;
	color:#bf6f0f;
}

h4 {
	font-weight:bold;
	margin: 12px 0 0 0;
	color:#bf6f0f;
	font-size: 12pt;
}
h5 {
	font-size: 11pt;
	margin: 12px 0 0 0;
}
h6 {
	margin: 12px 0 0 0;
}

td,th {
	letter-spacing: 0em; text-align:justify;
	vertical-align:top;
	padding:5px;
	color:#000;
}
p {
	margin: 0.5em 0 1em 0;
}
a {
	font-weight:bold;
	text-decoration:none;
	color:#bf6f0f;
}
a.otherlanguagelink {
	font-weight:bold;
	text-decoration:none;
	color:#bf6f0f;
	border-bottom: 1px dotted;
}
a.nopagelink {
	text-decoration: none;
	border-bottom: 1px dotted;
}
a:hover {
	text-decoration:underline;
}

iframe {
	border: #c0c0c0 solid 1px;
}
iframe.registratie, iframe.gastenboek {
	border: none;
}

code
{
	color: #825500;
}

#main img {
	margin: 1.1em 0 0.7em;
}

#versionList {
	font-size:8pt;
}

#main .group {
		margin: 10px 0 10px 0;
		clear: both;
	}
	#main img.left {
		float:left;
		margin: 0 13px 10px 0;
	}
	#main img.right {
		float:right;
		margin: 0 0 10px 13px;
	}
	#main img.center {
		float:none;
		margin: 0 0 10px 0;
	}

#main h2, #main h3, #main h4, #main h5, #main h6 {
	clear: both;
}

#main .group h2, #main .group h3, #main .group h4, #main .group h5, #main .group h6 {
	clear: none;
}

.writely-comment {
    border: 1px dashed #C0C0C0;
    font-size: 9pt;
    line-height: 1.4;
    padding: 1px;
    background-color: #D7FFD7;
}

#langList {
	border-left: 1px solid #222;
	font-size:8pt;
}
#langList .disabled {
	color: #8f8f8f;
}
#langList .selected {
	font-weight:bold;
}
.language {
	display:block;
}

#footer {
	font-size:8pt;

	clear: both;
	float: right;
	margin: 15px 0 0 0;
	text-align: right;
	border-top: 3px solid #840;
	padding: 5px 0 0 0;
	width: 100%;
}

.festivalTimetable, .festivalTimetable a {
	color: white;
}
.festivalTimetable .timeGridOdd {
	text-align:left;
	vertical-align:top;
}
.festivalTimetable .timeGridOdd {
	text-align:left;
	vertical-align:top;
	background-color:#ddd;
}
.festivalTimetable .tableRowOdd {
	background-color:#fff;
}
.festivalTimetable .tableRowEven {
	background-color:#ddd;
}
.festivalTimetable .tableAct {
	text-align:center;
}
.festivalTimetable .tableRowOddAct {
	background-color:#c63;
	color:#fff;
	font-weight:bold;
}
.festivalTimetable .tableRowEvenAct {
	background-color:#36c;
	color:#fff;
	font-weight:bold;
}
.festivalTimetable .tableRowHeading {
	text-align:left;
	font-weight:bold;
	padding:5px;
}
.festivalTimetable .tableRowHeadingOdd {
	background-color:#ddd;
}
.festivalTimetable .tableRowHeadingEven {
	background-color:#bbb;
}

@media (min-width: 960px) {
}

@media (max-width: 959px) {
	#commandForm {
		width: 100%;
	}
	#navContainer {
		width:100%;
	}
	#page {
		width: 100%;
	}
	#pagename {
		width:auto;
	}
	#main {
		width: 100%;
	}
	#header {
		width: 100%;
		padding: 0px;
	}
	#pageCommands {
		clear:right;
		float:right;
		margin: 13px 0 0 0;
	}
	#footer {
		width: 100%;
	}
	#bottomContainer {
		width: 100%;
	}
	.editor {
		width:100%;
	}
	img {
		max-width:100%;
	}
	#langList {
		float:right;
		border:none;
	}
	.prefix {
		display:none;
	}
	.language {
		display:inline-block;
		margin-right:5px;
	}
}

.wym_iframe.wym_section iframe {
	resize: vertical;
}