// styles.scss

@import url("normalize.css");
@import url("picnic.css");
@import url("fontello.css");
@import url("animation.css");
@import url("festival.css");

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=33h0u0kllllaFw0g0qFqFg0w0aF */

/* Feel free to copy&paste color codes to your application */

:root{
--color-primary-0: #226765 ;	/* Main Primary color */
--color-primary-1: #679B99 ;
--color-primary-2: #41817F ;
--color-primary-3: #0D4D4B ;
--color-primary-4: #003432 ;

--color-secondary-1-0: #AA8439 ;	/* Main Secondary color (1) */
--color-secondary-1-1: #FFE2AA ;
--color-secondary-1-2: #D4B06A ;
--color-secondary-1-3: #805B15 ;
--color-secondary-1-4: #553800 ;

--color-secondary-2-0: #A8383B ;	/* Main Secondary color (2) */
--color-secondary-2-1: #FDA8AB ;
--color-secondary-2-2: #D3696C ;
--color-secondary-2-3: #7E1518 ;
--color-secondary-2-4: #540002 ;

--textfont: sans-serif;
--textcolor: #222;
--headingsfont:sans-serif;
--headingscolor: var(--color-primary-2);
--linkcolor: var(--color-secondary-1-0);
--linkhovercolor: var(--color-secondary-1-3); 
--headercolor: var(--color-primary-0); 
--menubackground: var(--color-secondary-1-2);
--formheaderback: var(--color-primary-0)
}

/* Variables end */

body {
	font-family:var(--textfont);
	color:var(--textcolor);
	line-height: 1.4;
  background:#ddd;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--headingsfont);
  color:var(--headingscolor);
}

a {
	color:var(--linkcolor);  
}

a:hover {
	text-decoration:underline;
  color:var(--linkhovercolor);  
}

a:hover:not(.button){
  opacity:1;
}

a.otherlanguagelink {
	font-weight:bold;
	text-decoration:none;
	border-bottom: 1px dotted;
}

a.nopagelink {
	text-decoration: none;
	border-bottom: 1px dotted;
}

#navContainer {
	padding: 0;
  
  nav{
    padding:0;
    
    #main-menu{
      padding-left:10px;
      padding-top:8px;
      padding-bottom:8px;
      background-color:var(--menubackground);
      
      a{
        color:white;
          
        &:hover{
          background:var(--color-secondary-1-4);
        }
        
        &.active{
          background:var(--color-secondary-1-2);
        }
      }
      
      .menu-item{
        padding:10px;
      }
    }
    
    #hyphaCommands{
      background:#eee;
      font-size:80%;
      padding:5px 0;
      text-align:right;
      width:100%;
      
      .menu-item{
        padding-right: 10px;
      }
    }
  }
}

#headerContainer {
	background-color:var(--headercolor);
	padding:15px;
	margin-top:70px;
  
  &.flex{
    justify-content:flex-start;
    
    
    div{
      align-self:center;
      padding-bottom:0;
      flex: 0 1 auto;
    }
  }
  
  .site-title{
    font-weight:bold;
    font-size:24pt;
    color:#fff;
  }
  
  .logo{
    padding-left:0;
  }
}

#login {
	float: right;
	text-align:right;
	margin: 0 0 0 0;
	padding: 0 0 0 10px;
	display: none;
}

.pageTopContainer{
  justify-content:space-between;
}

#pageCommands {
  font-size:80%;
  margin-top:10px;
}

#loggedIn {
	color:#555;
  margin-left:10px;
  padding:5px;
}

#langList {
	padding-right:10px;
  text-align:right;
  
	font-size:8pt;
}

#langList .disabled {
	color: #8f8f8f;
}
#langList .selected {
	font-weight:bold;
}

.container{
  max-width:1120px;
  margin-left:auto;
  margin-right:auto;
}

.pageContainer{
  padding-left:15px;
  padding-right:15px;
  background:white;
  clear:both;
}

#main {
	min-height: 1px;
	clear: both;
  padding-bottom:1em;
}

.card header{
  color:white;
  background:var(--formheaderback);
}

.footerContainer{
  padding-bottom:2em;
  background:#eee;
}

#versionList  {
	clear: both;
	float: right;
	margin: 30px 0 10px;
  padding-top:5px;
  border-top:1px dotted #222;
  font-size:8pt;
}

#footer {
	font-size:8pt;
	padding-top: 5px;
  margin-top:5px;
	width: 100%;
  clear: both;
	margin: 0.5em 0 0 0;
	text-align: right;
}

#popup {
	position:absolute;
	padding:5px;
}

label {
	white-space:nowrap;
}

img {
	border:0px;
}
.click {
	cursor:pointer;
}
.option {
	color:#888;
}

.divider {
	clear:left; 
  height:10px; 
  margin-top:10px; 
  margin-bottom:10px; 
  background-color:#d2691e;
}

#trail {
	clear:left;
	float:left;
	text-align:left;
}

#log {
	margin: 0 0 0 0;
	float: left;
}
#log div {
	clear:left;
	padding: 5px 9px 5px 9px;
}

.edit-button {
	margin: 0 0 0 10px;
}

.editor {
	height:600px;
	padding-top:5px;
	clear:left;
}

.clear {
	clear: both;
}

#trail {
	font-size:8pt;
}

#login {
	font-size:8pt;
}

#log {
	font-size:10pt;
	letter-spacing:0.1em;
	}
	#log .error {
		color:#b00;
	}

	#log .success {
		color:#0b0;
	}

iframe {
	border: #c0c0c0 solid 1px;
}
iframe.registratie, iframe.gastenboek {
	border: none;
}

code {
	color: #825500;
}

#main {
  img {
    margin: 1.1em 0 0.7em;
    
    &.left {
      float:left;
      margin: 0 13px 10px 0;
    }
    
    &.right {
      float:right;
      margin: 0 0 10px 13px;
    }
    
    &.center {
		float:none;
		margin: 0 0 10px 0;
    }
  }
  
  .group {
		margin: 10px 0 10px 0;
		clear: both;
	}
}


.writely-comment {
    border: 1px dashed #C0C0C0;
    font-size: 9pt;
    line-height: 1.4;
    padding: 1px;
    background-color: #D7FFD7;
}

.language {
	display:block;
}

input{
  margin-bottom:15px;
}

@media (min-width: 960px) {
}

@media (max-width: 959px) {
	#commandForm {
		width: 100%;
	}
	#navContainer {
		width:100%;
	}
	#page {
		width: 100%;
	}
	#pagename {
		width:auto;
	}
	#main {
		width: 100%;
	}
  
  h1{
    font-size:2em;
  }
	#header {
		width: 100%;
		padding: 5px 0;
    font-size:16px;
	}
	
	#bottomContainer {
		width: 100%;
	}
	.editor {
		width:100%;
	}
	img {
		max-width:100%;
	}
	.prefix {
		display:none;
	}
	.language {
		display:inline-block;
		margin-right:5px;
	}
}

.wym_iframe.wym_section iframe {
	resize: vertical;
}

.buttongroup{
  margin-top:10px;
  margin-bottom:10px;
}
.right{
  text-align:right;
}

.flex-container-row{
  display: flex;
  flex-flow: row wrap;
}

.space-around {
  justify-content: space-around;
}

.flex-container-column{
  display: flex;
  flex-flow: column wrap;
}


#settingsIntervalDays,
#settingsIntervalHours,
#settingsIntervalMinutes
{
  width:50px;
  display:inline;
}
